:root {
  --primary-clr: #1eff00;
  --fs-28: 28px;
  --bg-color: #ebebeb;
  --gray-color: #656565;
}
/* font import  */

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}
.primary-text {
  color: var(--gray-color);
}
.primary-text:hover {
  color: var(--primary-clr);
}

.primary-btn {
  padding: 7px 20px;
  border-radius: 0px;

  border: 2px solid var(--primary-clr);
}
.primary-btn:hover {
  background-color: var(--primary-clr);
}
.fs-28 {
  font-size: var(--fs-28);
}

/* swaper */
.swiper {
  width: 100%;
  height: 100%;
}
.card{
  background-color: var(--bg-color);
}
.swiper-slide {
  text-align: center;
  font-size: 18px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* .newsimg{
  filter:  contrast(130%) grayscale(100%);
  
} */
.h-60vh {
  height: 60vh;
}
.h-100vh {
  height: 100vh;
}
.bg-gray {
  background: var(--bg-color);
}
.h-70 {
  height: 65%;
}
.heading {
  font-size: 25.89px;
}
.bottom-5 {
  bottom: 5%;
}
.object-fit {
  object-fit: cover;
}
.text-gray {
  color: var(--gray-color);
}
.fs-100 {
  font-weight: bold;
  color: var(--gray-color);
  font-size: 100px;
}
.curser {
  cursor: pointer;
}
.w-fit{
  width: fit-content;
}
/* loader */
.loader {
  width: 48px;
  height: 48px;
  border: 3px solid var(--gray-color);
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 56px;
  height: 56px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-bottom-color: var(--primary-clr);
}
/* card */
/* .card-img1{
height: 200px;
width: 200px;
} */
.bg-gray2{
  background-color: var(--bg-color);
}
@media screen and (max-width: 992px) {
  .h-70 {
    height: 50%;
  }
  .bg-gray {
    background-color: transparent;
  }

}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
